* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #ff7b7b;
  padding: 15px 40px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
}
.hero {
  display: flex;
  height: calc(100vh - 70px);
}
/* LEFT SIDE */
.hero-left {
  flex: 1;
  padding: 80px;
  background: linear-gradient(to right, #fff3b0, #ffd6d6);
}
.hero-left h1 {
  font-size: 48px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.hero-left p {
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 600px;
}

.hero-left button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 14px;
}
/* RIGHT SIDE */
.hero-right {
  flex: 1;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page2 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  background: linear-gradient(to right, #fff3b0, #ffd1f3);
  padding: 60px;
}

.page2 > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px;
  gap: 20px;
}
.img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.img2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.img3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.tall {
  grid-row: span 2;
}
.text-box {
  background-color: #ff6f6f;
  padding: 40px 50px;
  width: 420px;
}
.text-box span {
  font-size: 12px;
  letter-spacing: 2px;
}

.text-box h1 {
  font-size: 36px;
  margin: 20px 0 30px;
  letter-spacing: 2px;
}

.click {
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 16px;
}
